@import url("https://fonts.googleapis.com/css2?family=Cantarell&display=swap");

* {
  font-family: "Cantarell", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}
.fond {
  display: flex;
  background-color: #f58522;
  height: 150px;
  margin-top: 80px;
  border-radius: 10px;
  border: 1px solid #f58522;
  width: auto;
  align-items: center;
}
.fondb img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-top: 12px;
  border: 12px solid white;
  margin-left: 25%;
}
.h1h4 {
  display: flex;
  color: white;
  margin-left: 12%;
  justify-content: flex-start;
  flex-direction: column;
  padding-right: 70px;
}
.h1h4 h1 {
  padding-left: 45px;
}
.h1h4 h4 {
  margin: 0 auto;
}

.infosg {
  display: flex;
  color: white;
  justify-content: flex-end;
  height: max-content;
  font-size: 18px;
  padding-left: 180px;
}
h2 {
  color: #f58522;
  padding-left: 100px;
  text-decoration: double;
  font-size: 40px;
}

.competence {
  padding-top: 100px;
}

.compe-list p {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.compe-list {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
}

.dflex {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  text-align: center;
  align-items: center;
  padding-top: 5%;
}
.dflex .compe-list {
  justify-content: flex-;
  flex-direction: column;
}
.dflex2 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  text-align: center;
  align-items: center;
  padding-top: 5%;
  font-size: 18px;
}

.ligne {
  height: 4px;
  background-color: #f58522;
  width: 90%;
  margin: 0 auto;
}
.dflex3 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  text-align: center;
  align-items: center;
  padding-top: 5%;
  font-size: 18px;
}
.dflex4 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  text-align: center;
  align-items: center;
  padding-top: 5%;
  padding-top: -5px;
  font-size: 18px;
}
.Infos {
  font-style: oblique;
}

a:hover {
  color: #646a71;
}
header {
  background-color: #f58522;
  width: 100%;
  height: 90px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
header a {
  text-decoration: none;
  color: #e8ebf0;
  font-size: 30px;
  margin-right: 170px;
}
header img {
  margin-left: 20px;
}
footer {
  background-color: #646a71;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
footer img {
  padding-left: 2%;
}
footer a {
  padding-left: 2%;
}