@import url("https://fonts.googleapis.com/css2?family=Cantarell&display=swap");

* {
  font-family: "Cantarell", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}
a:hover {
    color: #646a71;
  }
  ul {
    background-color: #f58522;
    width: 100%;
    height: 90px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-left: 0;
    -webkit-box-shadow: 6px 3px 18px 2px rgba(0,0,0,0.79); 
box-shadow: 6px 3px 18px 2px rgba(0,0,0,0.79);
}
ul a {
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;  
}
ul img {
    margin-left: 20px;
    margin-top: 10%;
  }
  footer {
  
    width: 15%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    position: fixed;
    border-radius: 100px 100px 100px 100px;
    margin: 1% 1%;
    background-color: #fb8d0b;
    border-color: black;
    border-style: solid;
    
    
  }
  footer img {
    padding-left: 2%;
  }
  footer a {
    padding-left: 2%;
  }
  .rectanglegris
  {
   display: flex;
    background-color: #C4C4C4;
    width: 500px;
    height: 350px;
    border-radius: 25px 25px 25px 25px;
    margin: 2% 2%;
    align-items: center;
    justify-content: center;
    

  }
  .titrer
  {
    display: flex;
    background-color: #dde0e5;
    width: 600px;
    height: 75px;
    border-radius: 25px 25px 25px 25px;
    color: #fb8d0b;
    font-size: 35px;
    justify-content: center;
    align-items: center;
    margin-top: 12% ;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
    text-decoration: double;
  }
.Fondcarre
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio_1{
  cursor: pointer;
  height: 300px;
  position: relative;
  overflow: hidden;
  width: 400px;
  text-align: center;
}
.portfolio_1 .fadedbox {
  background-color: #666666;
  border-radius: 25px 25px 25px 25px;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  width: 360px;
  height: 100px;
  padding: 130px 20px;
}
.portfolio_1:hover .fadedbox {
  opacity: 0.8;
}
.portfolio_1 .txt {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
}
.portfolio_1 .title {
  font-size: 2.5em;
  text-transform: uppercase;
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.3s;
}
.portfolio_1:hover .title,
.portfolio_1:focus .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}
.portfolio_1 img
{
border-radius: 25px 25px;
justify-content: center;
}

header{
  position: fixed;
  width: 100%;
  margin-top: -200px;
}
.navbarIMG{
  margin-top: 5px;
  justify-content: flex-start;
}
#imgfix {
  position: fixed;
  top: 0px;
}